@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.fullscreen {
  position: fixed;
  top: 0;
  left: 45%;
  transform: translate(-45%);
  height: 100vh;
  z-index: 1000;
  object-fit: contain; }

.main_bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  padding: 0 2em; }
  .main_bio .section_bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    gap: 1em; }
    .main_bio .section_bio .bio_intro {
      display: grid;
      grid-template-columns: 40% 40%;
      justify-content: center;
      margin: 3em 0; }
      .main_bio .section_bio .bio_intro img {
        width: 80%;
        margin: 0 auto; }
      .main_bio .section_bio .bio_intro p {
        text-wrap: balance; }
    .main_bio .section_bio .encargos {
      margin-top: 3em; }
      .main_bio .section_bio .encargos h3 {
        text-align: center; }
      .main_bio .section_bio .encargos ul {
        list-style: none; }
        .main_bio .section_bio .encargos ul li {
          margin-top: 1em;
          text-wrap: balance; }
          .main_bio .section_bio .encargos ul li span {
            display: block; }

.main_obras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  gap: 5em;
  padding: 0 2em; }
  .main_obras .grid_acuarela {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 3em 1em;
    padding: 2em 1em;
    text-align: center; }
    .main_obras .grid_acuarela h2 {
      color: #0b0b0bde;
      font-size: 2.5em;
      font-weight: 300; }
    .main_obras .grid_acuarela .pint_acuarela {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em; }
      .main_obras .grid_acuarela .pint_acuarela p {
        text-align: start;
        width: 65%; }
    .main_obras .grid_acuarela :nth-child(1) {
      grid-column: 1/5;
      grid-row: 1/2; }
  .main_obras .grid_varios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 3em;
    text-align: center; }
    .main_obras .grid_varios h2 {
      color: #0b0b0bde;
      font-size: 2.5em;
      font-weight: 300; }
    .main_obras .grid_varios p {
      width: 70%; }
    .main_obras .grid_varios .varios_lineas {
      display: flex;
      justify-content: center;
      gap: 1em 3em; }
    .main_obras .grid_varios :nth-child(1) {
      grid-column: 1/4;
      grid-row: 1/2;
      flex-direction: column; }
    .main_obras .grid_varios :nth-child(2) {
      grid-column: 1/4;
      grid-row: 2/3; }
    .main_obras .grid_varios :nth-child(3) {
      grid-column: 1/4;
      grid-row: 3/4; }
  .main_obras .grid_auto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 3em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_auto h2 {
      color: #0b0b0bde;
      font-size: 2.5em;
      font-weight: 300; }
    .main_obras .grid_auto :nth-child(1) {
      grid-column: 1/5;
      grid-row: 1/2; }
    .main_obras .grid_auto :nth-child(2) {
      grid-column: 1/5;
      grid-row: 2/3; }
    .main_obras .grid_auto :nth-child(3) {
      grid-column: 1/5;
      grid-row: 3/4; }
    .main_obras .grid_auto :nth-child(4) {
      grid-column: 1/5;
      grid-row: 4/5; }
    .main_obras .grid_auto :nth-child(5) {
      grid-column: 1/5;
      grid-row: 5/6; }
    .main_obras .grid_auto :nth-child(6) {
      grid-column: 1/5;
      grid-row: 6/7; }
    .main_obras .grid_auto :nth-child(7) {
      grid-column: 1/5;
      grid-row: 7/8; }
    .main_obras .grid_auto :nth-child(8) {
      grid-column: 1/5;
      grid-row: 8/9; }
    .main_obras .grid_auto :nth-child(9) {
      grid-column: 1/5;
      grid-row: 9/10; }
  .main_obras .grid_retratos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 3em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_retratos h2 {
      color: #0b0b0bde;
      font-size: 2.5em;
      font-weight: 300; }
    .main_obras .grid_retratos :nth-child(1) {
      grid-column: 1/4;
      grid-row: 1/2; }
    .main_obras .grid_retratos :nth-child(2) {
      grid-column: 1/4;
      grid-row: 2/3; }
    .main_obras .grid_retratos :nth-child(3) {
      grid-column: 1/4;
      grid-row: 3/4; }
    .main_obras .grid_retratos :nth-child(4) {
      grid-column: 1/4;
      grid-row: 4/5; }
    .main_obras .grid_retratos :nth-child(5) {
      grid-column: 1/4;
      grid-row: 5/6; }
  .main_obras .grid_heladería {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_heladería h2 {
      color: #0b0b0bde;
      font-size: 2.5em;
      font-weight: 300; }
    .main_obras .grid_heladería .mural_titles {
      text-align: center; }
      .main_obras .grid_heladería .mural_titles h4 {
        font-size: 1.7em;
        font-weight: 300; }
    .main_obras .grid_heladería h2 {
      margin-bottom: 2em; }
    .main_obras .grid_heladería div h5 {
      margin-bottom: 2em; }
    .main_obras .grid_heladería :nth-child(1) {
      grid-column: 1/4;
      grid-row: 1/2;
      text-align: center; }
    .main_obras .grid_heladería :nth-child(2) {
      grid-column: 1/4;
      grid-row: 2/3; }
    .main_obras .grid_heladería :nth-child(3) {
      grid-column: 1/4;
      grid-row: 3/4; }
  .main_obras .grid_conejo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_conejo .mural_titles {
      text-align: center; }
      .main_obras .grid_conejo .mural_titles h4 {
        font-size: 1.7em;
        font-weight: 300; }
    .main_obras .grid_conejo :nth-child(1) {
      grid-column: 1/4;
      grid-row: 1/2;
      text-align: center; }
    .main_obras .grid_conejo :nth-child(2) {
      grid-column: 1/4;
      grid-row: 2/3; }
    .main_obras .grid_conejo :nth-child(3) {
      grid-column: 1/4;
      grid-row: 3/4; }
  .main_obras .grid_yacante {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_yacante .mural_titles {
      text-align: center; }
      .main_obras .grid_yacante .mural_titles h4 {
        font-size: 1.7em;
        font-weight: 300; }
    .main_obras .grid_yacante :nth-child(1) {
      grid-column: 1/4;
      grid-row: 1/2;
      text-align: center; }
    .main_obras .grid_yacante :nth-child(2) {
      grid-column: 1/4;
      grid-row: 2/3; }
    .main_obras .grid_yacante :nth-child(3) {
      grid-column: 1/4;
      grid-row: 3/4; }
    .main_obras .grid_yacante :nth-child(4) {
      grid-column: 1/4;
      grid-row: 4/5; }
  .main_obras .grid_khalo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_khalo .mural_titles {
      text-align: center; }
      .main_obras .grid_khalo .mural_titles h4 {
        font-size: 1.7em;
        font-weight: 300; }
    .main_obras .grid_khalo :nth-child(1) {
      grid-column: 1/4;
      grid-row: 1/2;
      text-align: center; }
    .main_obras .grid_khalo :nth-child(2) {
      grid-column: 1/4;
      grid-row: 2/3; }
  .main_obras .grid_rawson {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_rawson .mural_titles {
      text-align: center; }
      .main_obras .grid_rawson .mural_titles h4 {
        font-size: 1.7em;
        font-weight: 300; }
    .main_obras .grid_rawson :nth-child(1) {
      grid-column: 1/4;
      grid-row: 1/2;
      text-align: center; }
    .main_obras .grid_rawson :nth-child(2) {
      grid-column: 1/4;
      grid-row: 2/3; }
    .main_obras .grid_rawson :nth-child(3) {
      grid-column: 1/4;
      grid-row: 3/4; }
  .main_obras .grid_hamburg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, auto);
    gap: 1em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_hamburg .mural_titles {
      text-align: center; }
      .main_obras .grid_hamburg .mural_titles h4 {
        font-size: 1.7em;
        font-weight: 300; }
    .main_obras .grid_hamburg :nth-child(1) {
      grid-column: 1/6;
      grid-row: 1/2;
      text-align: center; }
    .main_obras .grid_hamburg :nth-child(2) {
      grid-column: 1/6;
      grid-row: 2/3; }
    .main_obras .grid_hamburg :nth-child(3) {
      grid-column: 1/6;
      grid-row: 3/4; }
    .main_obras .grid_hamburg :nth-child(4) {
      grid-column: 1/6;
      grid-row: 4/5; }
    .main_obras .grid_hamburg :nth-child(5) {
      grid-column: 1/6;
      grid-row: 5/6; }
    .main_obras .grid_hamburg :nth-child(6) {
      grid-column: 1/6;
      grid-row: 6/7; }
    .main_obras .grid_hamburg :nth-child(7) {
      grid-column: 1/6;
      grid-row: 7/8; }
    .main_obras .grid_hamburg :nth-child(8) {
      grid-column: 1/6;
      grid-row: 8/9; }
  .main_obras .grid_muebles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1em;
    align-items: center;
    justify-items: center; }
    .main_obras .grid_muebles h2 {
      color: #0b0b0bde;
      font-size: 2.5em;
      font-weight: 300; }
    .main_obras .grid_muebles .mural_titles {
      text-align: center; }
      .main_obras .grid_muebles .mural_titles h4 {
        font-size: 1.7em;
        font-weight: 300; }
    .main_obras .grid_muebles :nth-child(1) {
      grid-column: 1/5;
      grid-row: 1/2;
      text-align: center; }
    .main_obras .grid_muebles :nth-child(2) {
      grid-column: 1/5;
      grid-row: 2/3; }
    .main_obras .grid_muebles :nth-child(3) {
      grid-column: 1/5;
      grid-row: 3/4; }
    .main_obras .grid_muebles :nth-child(4) {
      grid-column: 1/5;
      grid-row: 4/5; }
  .main_obras .margen_horizontal {
    display: flex;
    justify-content: center;
    gap: 3em; }

main .section_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  padding: 4em 2em;
  width: 60%;
  border: 1px solid #0f0f0f; }
  main .section_contacto .grid_contacto {
    display: grid;
    width: 80%;
    justify-content: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    padding: 2em;
    gap: 1em;
    border: 1px solid #0f0f0f; }
    main .section_contacto .grid_contacto :nth-child(3) {
      display: flex;
      justify-content: end; }
    main .section_contacto .grid_contacto :nth-child(1) {
      display: flex;
      justify-content: end; }
    main .section_contacto .grid_contacto .item_contacto {
      display: flex;
      align-items: center;
      gap: 1em; }
      main .section_contacto .grid_contacto .item_contacto img {
        height: 24px; }
      main .section_contacto .grid_contacto .item_contacto .flag {
        height: 18px; }
  main .section_contacto .mensaje {
    width: 60%;
    height: 200px;
    border: 1px solid #0f0f0f; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: #0b0b0bde;
  line-height: 1.3em; }

body {
  padding: 0 1em; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body header {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 2em;
    position: sticky;
    top: 0; }
    body header .hamburg {
      width: 30px;
      height: 30px;
      transition: all 600ms; }
      body header .hamburg span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #0b0b0bde;
        margin-top: 6px;
        cursor: pointer;
        transition: all 300ms;
        transform-origin: 0px 100%; }
    body header .nav {
      opacity: 0;
      visibility: hidden;
      width: 130px;
      padding: 1em;
      transform: translate(-12em, -2em);
      border-radius: 5px; }
      body header .nav ul {
        display: flex;
        flex-direction: column;
        gap: 1em; }
        body header .nav ul li {
          list-style: none; }
          body header .nav ul li :hover {
            color: #b1b1b1; }
          body header .nav ul li a {
            font-size: 1.5em;
            text-decoration: none; }
    body header .nav_inicio {
      transform: translate(-10em, -5.5em);
      border: none; }
    body header .nav_visible {
      opacity: 1;
      visibility: visible; }
  body .header_inicio {
    position: absolute;
    top: 50%;
    left: -10%;
    padding: 2em; }
  body main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: space-evenly;
    align-items: center; }
    body main .inicio {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 1fr auto;
      align-items: center;
      justify-items: center; }
      body main .inicio .name {
        font-size: 3em;
        font-weight: 400;
        position: absolute;
        right: 10%;
        top: 8%; }
      body main .inicio .pinturas {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5em;
        transform: translateY(-2em); }
        body main .inicio .pinturas h2 {
          color: #0b0b0bde;
          font-size: 2.5em;
          font-weight: 300; }
        body main .inicio .pinturas p {
          width: 85%;
          margin-top: 2em;
          font-size: 1.2em;
          text-align: center;
          text-wrap: balance;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
      body main .inicio img {
        width: 450px; }
  body footer .grid_contacto {
    display: grid;
    width: 60%;
    margin: 2em auto 0;
    justify-content: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    padding: 1em;
    gap: .5em;
    border: 1px solid #0f0f0f;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    body footer .grid_contacto :nth-child(3) {
      display: flex;
      justify-content: end; }
    body footer .grid_contacto :nth-child(1) {
      display: flex;
      justify-content: end; }
    body footer .grid_contacto .item_contacto {
      display: flex;
      align-items: center;
      gap: 1em; }
      body footer .grid_contacto .item_contacto img {
        height: 24px; }
      body footer .grid_contacto .item_contacto .flag {
        height: 18px; }

.lin1 {
  transform: rotate(45deg) translate(-2px, 1px); }

.lin2 {
  opacity: 0;
  margin-left: -10px; }

.lin3 {
  transform: rotate(-45deg) translate(-4px, 2px); }

@media screen and (max-width: 768px) {
  body .header_inicio {
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 1em; }
  body header {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1em;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.859); }
    body header .hamburg nav {
      transform: translate(-23em, -2.5em); }
      body header .hamburg nav ul {
        flex-direction: row;
        gap: 1em; }
    body header .hamburg .nav_inicio {
      transform: translate(-23em, -2.5em); }
  body main .inicio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3em; }
    body main .inicio .name {
      left: 15%;
      top: 10%; }
    body main .inicio .pinturas {
      flex-direction: row;
      flex-wrap: wrap;
      width: 70%;
      justify-content: center;
      gap: .5em; }
    body main .inicio img {
      width: 95%;
      margin-top: 6em; }
  body footer .grid_contacto {
    width: 90%; }
    body footer .grid_contacto .item_contacto {
      font-size: .6em;
      gap: .5em; }
  .main_obras {
    gap: 1em;
    padding: 0; }
    .main_obras .margen_horizontal {
      flex-direction: column; }
    .main_obras .imagen {
      width: 100%; }
    .main_obras .grid_acuarela {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 2em; }
      .main_obras .grid_acuarela .pint_acuarela p {
        width: 100%; }
      .main_obras .grid_acuarela .item_pint {
        width: 70%; }
    .main_obras .grid_varios {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 2em; }
      .main_obras .grid_varios .varios_lineas {
        flex-direction: column;
        width: 100%; }
    .main_obras .grid_retratos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 2em; }
      .main_obras .grid_retratos .item_retratos div img {
        margin: 0; }
    .main_obras .grid_murales {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 2em; }
      .main_obras .grid_murales .item_murales div img {
        margin: 0; }
  .main_bio .section_bio .bio_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    margin: 0; }
  .main_bio .section_bio .encargos ul {
    text-align: center; } }

@media screen and (max-width: 468px) {
  .fullscreen {
    height: none; }
  body header .hamburg nav {
    transform: translate(-20em, -2.5em); }
  body header .hamburg .nav_inicio {
    transform: translate(-20em, -2.5em); }
  body main .inicio .name {
    left: 7%; }
  body main .inicio .pinturas {
    flex-direction: column; }
  body .main_bio .section_bio .bio_intro img {
    width: 100%; }
  body .main_bio .section_bio .bio_intro_2 {
    flex-direction: column-reverse; }
  body footer p {
    font-size: .8em; } }
