
.main_bio{
    @include flex_column();
    padding: 0 2em;
   
    .section_bio{
        @include flex_column();
        gap: 1em;
        .bio_intro{
            display: grid;
            grid-template-columns: 40% 40%;
            justify-content: center;
            margin: 3em 0;
            img{
                width: 80%;
                margin: 0 auto;
            }
            p{
                text-wrap: balance;
            }
        }
        .encargos{
            margin-top: 3em;
            h3{
                text-align: center;
            }
            ul{
                list-style: none;
                li{
                    margin-top: 1em;
                    text-wrap: balance;
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}