@mixin footer{
    .grid_contacto{
        display: grid;
        width: 60%;
        margin: 2em auto 0;
        justify-content: center;
        grid-template-columns:45% 45% ;
        grid-template-rows:45% 45% ;
        padding: 1em;
        gap: .5em;
        border: 1px solid rgb(15, 15, 15);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        :nth-child(3){
            display: flex;
            justify-content: end;
        }
        :nth-child(1){
            display: flex;
            justify-content: end;
        }
       .item_contacto{
        display: flex;
        align-items: center;
        gap: 1em;
        img{
            height: 24px;
        }
        .flag{
            height: 18px;
        }
       }
    }   
}