@media screen and (max-width: 768px){
    body{
        .header_inicio{
            position: sticky;
            z-index: 10;
        }
        header{
            width: 100%;
            display: flex;
            justify-content: end;
            padding: 2em;
            position: sticky;
            top: 0;
            background-color: rgba(255, 255, 255, 0.859);
            .hamburg{
                nav{
                    transform: translate(-27em, -3em);
                    ul{
                        flex-direction: row;
                        gap: 3em;
                    }
                }
                .nav_inicio{
                    transform: translate(-28em, -3em);

                }
            }
        }
        // pagina de inicio - hamburg - footer
        main{
            .inicio{
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-around;
                align-items: center;
                gap: 3em;
                margin-top: 1em;
                .name{
                    left: 13%;
                    top: 20%;
                }
                .pinturas{
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 70%;
                    justify-content: center;
                    gap: .5em;
                }
                img{
                    width: 95%;
                    margin-top: 7em;
                }
            }
        }
        footer{
            .grid_contacto{
                width: 90%;
                .item_contacto{
                    font-size: .6em;
                    gap: .5em;
                }
            }
        }
    }
    .main_obras{
        gap: 1em;
        padding: 0;
        .margen_horizontal{
            flex-direction: column;
        }
        .imagen{
            width: 100%;
        }
        .grid_acuarela{
            @include flex-column();
            .pint_acuarela{
                p{
                    width: 100%;
                }
            }
            .item_pint{
                width: 70%;
            }
        }
        .grid_varios{
            @include flex-column();
            .varios_lineas{
                flex-direction: column;
                width: 100%;
            }
        }
        .grid_retratos{
            @include flex-column();
            .item_retratos{
                div{
                    img{
                        margin:0;
                    }
                }
            }

        }
        .grid_murales{
            @include flex-column();
            .item_murales{
                div{
                    img{
                        margin: 0;
                    }
                }
            }
        }
    }
    .main_bio{
        .section_bio{
            .bio_intro{
                @include flex-column();
                margin: 0;
            }
            .encargos{
                // @include flex-column();
                ul{
                    // transform: translateY(0);
                    text-align: center;
                }
            }
        }
    } 
}


@media screen and (max-width: 468px){
    body{
        main{
            .inicio{
                .name{
                    left: 5%;
                }
                .pinturas{
                    flex-direction: column;
                }
                // .hamburg{
                //     transform: translate(-1em, 0);
                // }
            }
        }
        footer{
                p{
                    font-size: .8em;
                }
        }
    }
}