@media screen and (max-width: 768px){
    body{
        .header_inicio{
            position: sticky;
            z-index: 10;
            top: 0;
            padding: 1em;
        }
        header{
            width: 100%;
            display: flex;
            justify-content: end;
            padding: 1em;
            position: sticky;
            top: 0;
            background-color: rgba(255, 255, 255, 0.859);
            .hamburg{
                nav{
                    transform: translate(-23em, -2.5em);
                    ul{
                        flex-direction: row;
                        gap: 1em;
                    }
                }
                .nav_inicio{
                    transform: translate(-23em, -2.5em);
                }
            }
        }
        // pagina de inicio - hamburg - footer
        main{
            .inicio{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                gap: 3em;
                .name{
                    left: 15%;
                    top: 10%;
                }
                .pinturas{
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 70%;
                    justify-content: center;
                    gap: .5em;
                }
                img{
                    width: 95%;
                    margin-top: 6em;
                }
            }
        }
        footer{
            .grid_contacto{
                width: 90%;
                .item_contacto{
                    font-size: .6em;
                    gap: .5em;
                }
            }
        }
    }
    .main_obras{
        gap: 1em;
        padding: 0;
        .margen_horizontal{
            flex-direction: column;
        }
        .imagen{
            width: 100%;
        }
        .grid_acuarela{
            @include flex-column();
            .pint_acuarela{
                p{
                    width: 100%;
                }
            }
            .item_pint{
                width: 70%;
            }
        }
        .grid_varios{
            @include flex-column();
            .varios_lineas{
                flex-direction: column;
                width: 100%;
            }
        }
        .grid_retratos{
            @include flex-column();
            .item_retratos{
                div{
                    img{
                        margin:0;
                    }
                }
            }

        }
        .grid_murales{
            @include flex-column();
            .item_murales{
                div{
                    img{
                        margin: 0;
                    }
                }
            }
        }
    }
    .main_bio{
        .section_bio{
            .bio_intro{
                @include flex-column();
                margin: 0;
            }
            .encargos{
                ul{
                    text-align: center;
                }
            }
        }
    }
    main{
        .section_contacto{
            width: 100%;
            .whatsapp{
                width: 90%;
            }
            .email{
                width: 90%;
            }
        } 
    }
}

@media screen and (max-width: 468px){
    .fullscreen{
        height: none;
    }
    body{
        
        header{
            .hamburg{
                nav{
                    transform: translate(-20em, -2.5em);
                }
                .nav_inicio{
                    transform: translate(-20em, -2.5em);
                }
            }
        }
        main{
            .inicio{
                .name{
                    left: 7%;
                }
                .pinturas{
                    flex-direction: column;
                }
            }

        }
        .main_bio{
            .section_bio{
                .bio_intro{
                    img{
                        width: 100%;
                    }
                }
                .bio_intro_2{
                    flex-direction: column-reverse;
                }
            }
        }
        footer{
                p{
                    font-size: .8em;
                }
        }
        main{
            .section_contacto{
                .whatsapp{
                    width: 100%;
                    flex-direction: column;
                    gap: 1em;

                }
                .email{
                    width: 100%;
                    form{
                        align-items: center;
                        input{
                            width: 90%;
                        }
                        textarea{
                            width: 90%;
                        }
                    }
                }
            } 
        }
    }
}